<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title><%= @drop.name %></title>

  <meta content="text/html; charset=utf-8" http-equiv="content-type" />

  <meta content="CloudApp" name="author" />

  <link href="/favicon.ico" rel="shortcut icon" />

  <link href="/stylesheets/image/slugs.css" rel="stylesheet">

  <!--[if IE]>
  <link href="stylesheets/old/iefix.css" rel="stylesheet">
  <![endif]-->
</head>

<body id="embedded">
  <div id="container">
    <img alt="<%= @drop.name %>" src="<%= @drop.content_url %>">
  </div>

  <div class="clearfix" id="toolbar">
    <div id="logo">
      <h2><a href="http://www.getcloudapp.com">CloudApp</a></h2>

      <h3>Share. Files. Fast.</h3>
    </div>

    <div id="embed">
      <label for="embed_field">Embed:</label>

      <input class="input_text" name="embed" tab="0" type="text" value="<%= @drop.content_url %>" />

      <div id="clipboard">
        <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" height="18" id="clippy" width="14">
          <param name="allowScriptAccess" value="always" />
          <param name="bgcolor" value="transparent">
          <param name="flashvars" value="text=<%= escape_html @drop.content_url %>">
          <param name="movie" value="clippy.swf"/>
          <param name="quality" value="high" />
          <param name="scale" value="noscale" />
          <param name="wmode" value="transparent">

          <embed src="clippy.swf"
            allowScriptAccess="always"
            bgcolor="transparent"
            flashvars="text=<%= escape_html @drop.content_url %>"
            height="18"
            name="clippy"
            pluginspage="http://www.macromedia.com/go/getflashplayer"
            quality="high"
            type="application/x-shockwave-flash"
            width="14"
            wmode="transparent"
          />
        </object>
      </div>
    </div>
  </div>

  <div class="close">
    <a href="#close">Close</a>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script src="javascripts/embedded.js"></script>
</body>
</html>
