<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="en">
  <head>
    <title><%= escape_html @drop.name %></title>

    <meta charset="utf-8">

    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width = device-width, initial-scale = 1.0, maximum-scale = 1.0, minimum-scale = 1.0, user-scalable = no" name="viewport">

    <meta content="CloudApp" name="author">

    <link href="<%= asset_path :img, '/images/favicon.ico' %>" rel="shortcut icon">

    <%= include_stylesheets :viso %>

    <!--[if IE]>
    <%= include_stylesheets :ie, :embed_assets => false %>
    <![endif]-->

    <%= include_javascripts :viso %>

    <!--[if lt IE 9]>
    <%= include_javascripts :ie %>
    <![endif]-->
  </head>

  <body id="<%= body_id %>">
    <%= yield %>

    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4ea557ec613f5d39e7000002');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
